.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__nav {
  @include tablets {
    display: none;
  }
}

.header__icons {
  @include tablets {
    display: none;
  }
}