.iconed-link{
  display: flex;
  color: #586ED3;
  font-size: 18px;
  font-weight: 800;
  align-items: center;
}

.iconed-link__icon {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  fill: #586ED3;
}