.iconed-link{
  display: flex;
  color: #586ED3;
  font-size: 18px;
  font-weight: 800;
  align-items: center;
  transition: .5s;
  &:hover {
    color: rgb(208,115,27);
  }
  &:hover .iconed-link__icon {
    fill: rgb(208,115,27);
  }
}

.iconed-link__icon {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  fill: #586ED3;
  transition: .5s;
}