.nav__list {
  display: flex;
  @include tablets {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.nav__item {
  margin-right: 35px;
  transition: .5s;
  &:last-child {
    margin: 0;
  }
  &:hover {
    color: rgb(208,115,27);
  }
}

.nav__item--footer {
  margin-right: 65px;
  &:last-child {
    margin: 0;
  }
  @include tablets {
    margin: 0 20px 20px;
  &:last-child {
    margin: 0 20px 20px;
  }
  }
}