.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255,255,255, .6);
}

.quote__content {
  display: flex;
  margin-bottom: 30px;
}

.quote__icon {
  max-width: 77px;
  width: 77px;
  height: 57px;
  fill: #303133;
  flex-shrink: 0;
  margin-right: 20px;
}

.quote__text {
  font-weight: 600;
  line-height: 30px;
}