.user {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.user__avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
  margin-bottom: 75px;
}

.user__avatar-style {
  height: 100%;
}

.user__avatar-img {
  min-height: 100%;
}

.user__data {
  color: #fff;
}

.user__table-row {
  line-height: 36px;
}

.user__table-title {
  color: rgba(255,255,255, .3);
  padding-right: 80px;
  @include desktop {
    padding-right: 50px;
  }
}