.user-min {
  display: flex;
  align-items: center;
}

.user-min__avatar {
  margin-right: 30px;
}

.user-min__avatar-style {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
}

.user-min__data {
  display: flex;
  flex-direction: column;
}

.user-min__name {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.user-min__text {
  font-weight: 600;
}