.header {
  display: flex;
}

.page-content {
  flex: 1;
  background: url("../../../images/content/admin-bg.jpg") center center / cover no-repeat;
  padding: 60px 0 20px;
}

.title {
  margin-right: 60px;
  color: #414C63;
  font-size: 21px;
  font-weight: bold;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.item {
  width: calc(100% / 2 - 30px);
  margin-right: 30px;
  margin-bottom: 25px;
}
